extends layout

block content
  h1= title
  div.list-group
    a.list-group-item.active(href='/') Index
    a.list-group-item(href='/dropdown') Dropdown
    a.list-group-item(href='/scrollspy') Scrollspy
    a.list-group-item(href='/modal') Modal
    a.list-group-item(href='/tab') Tab
    a.list-group-item(href='/tooltip') Tooltip
